/*---------------Styling Sheet----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------Tode root----------------*/
:root{
     --bg-color: pink;
     --text-color: white;

}
/*------for smooth scrolling---------*/
html{
    scroll-behavior: smooth;
}
/*----------Main Styling Start--------------*/
section{
    height: 100vh;
    background-color: var(--bg-color);
}
.home-container{
    border: 3px solid red;
    margin: 0 auto;
    margin: 30px 0 0 0 ;

}
.nav-container{ 
    border: 3px solid var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    border-radius: 30px;
}
.nav-left{
    border: 3px solid violet;
}
.nav a {
    color: var(--text-color);
    text-decoration: none;
    font-family: fantasy;
    font-size: 2rem;

}

.nav-right{
    border: 3px solid green;
}
.nav-items{
    border: 3px solid violet;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;

}
.nav-links{
    text-decoration: none;
    color: var(--text-color-);
}


